[Unit]
Description=Thanos Query
Wants=network-online.target
After=network-online.target
[Service]
User=root
Group=root
Type=simple
ExecStart=/bin/thanos query \
     --http-address=0.0.0.0:29090 \
     --grpc-address=localhost:10903 \
     --store=10.0.7.4:10901
[Install]
WantedBy=multi-user.target
